@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

/* https://www.schemecolor.com/notes-that-fell.php */

:root {
  --color-primary: #3279BD;
  --color-secondary: #1B3954;
  --color-text-white: #fff;
  --color-light: #666;
  --color-primary-light: #a0ccf3;
  --color-bg-white: #fff;
  --color-bg-light: #eee;
  --color-yellow: #FEB73D;
  --color-green: #14DB8A;
  --border-radius: 1rem;
  --border-primary: 0.2rem solid var(--color-primary);
  --border-primary-light: 0.2rem solid var(--color-primary-light);
  --border-primary-white: 0.2rem solid var(--color-text-white);
  --border-radius-btn-primary: 2.3rem;
  --secondary-border: 0.2rem solid var(--color-secondary);
  --primary-box-shadow: 0.5rem 0.5rem 0 rgba(25, 119, 204, 0.2);
  --secondary-box-shadow: 0.4rem 0.4rem 0 rgba(27, 57, 84, 0.2);
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

body {
  background: var(--color-bg-light);
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
}

.heading span {
  font-size: 2rem;
  color: var(--color-secondary);
}

.heading h1 {
  font-size: 4rem;
  color: var(--color-primary);
}

.btn-primary {
  display: inline-block;
  padding: 0.8rem 2rem;
  font-size: 1.7rem;
  background: var(--color-primary);
  color: var(--color-text-white);
  border: var(--border-primary);
  border-radius: var(--border-radius-btn-primary);
  cursor: pointer;
  width: max-content;
}

.btn-primary:hover {
  color: var(--color-primary);
  background: var(--color-bg-white);
}

.btn-icon-primary {
  height: 4.5rem;
  width: 4.5rem;
  font-size: 2rem;
  color: var(--color-text-white);
  background: var(--color-primary);
  border-radius: 50%;
  border: var(--border-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.3rem;
}

.btn-icon-primary:hover {
  color: var(--color-primary);
  background: var(--color-text-white);
}


/* media queries */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
